@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">America Vip</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    @*<p><a href="#">ELEGANCIA Y COMODIDAD HECHA EN CUERO</a>.</p>*@
    <p>ELEGANCIA Y COMODIDAD HECHA EN CUERO</p>
</div>
